{% extends "blog/base.html" %}

{% block contenido%}
    <!--overrides content of block contenido of base.html-->
    <!--para las variables se usa doble curly braces-->
    {% for cosa in cosas %}
    <!--ARTICLES Corey Schafer from articles.html-->
        <article class="media content-section">
            <img src="{{ cosa.author.profile.image.url }}" class="rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'post-autor' cosa.author.username %}">{{ cosa.author }}</a>
                    <small class="text-muted">{{ cosa.date_posted|date:"d F, Y"}}</small>
                </div>
                <h2><a class="article-title" href="{% url 'detalle-posteo' cosa.id %}">{{ cosa.title }}</a></h2>
                <p class="article-content">{{ cosa.content }}</p>
            </div>
        </article>
    {% endfor %}
    {# PAGINATION: #}
    {% if is_paginated %}
        
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <a class="btn btn-info mb-4" href="?page={{ i }}"> {{ i }}</a>
            {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                <a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        {% endif %}

    {% endif %}
{% endblock contenido %}

